/* All CSS styles go here */

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5%;
  }


.header {
    margin-bottom: 10%;
}

.headerLeft {
    float: left;
    text-align: left;
    
    
}

.headerRight {
    text-align: right;
    /*float: right; */
}

.subHeaderLeft {
    /* padding-top: 7%; */
    float: left;
    text-align: left;
}

.subHeaderRight {
    text-align: right;
}

.wrap {
    width: 100%;
    overflow:auto;
    /* height: 100vh; */
}

.fleft {
    float: left;
    width: 48%;
}

.fright  {
    float: right;
    width: 48%;
}